.borde{
    border: 1px solid;
    border-color: black;
}
.txt{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
}

.im1{
    position: relative;
    top: -45px;
    left: -253px;
}

.im2{
    position: relative;
    top:-58px;
    left:-28px
}

.pa1{
    position: relative;
    top: -30px;
    
}

.pa2{
    width: 10px;
    position: relative;
    top:-50%;
    left: 30%;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

.pa22{
    width: 10px;
    position: relative;
    top:-50%;
    left: 40%;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

.pa3{
    width: 10px;
    position: relative;
    top:-50%;
    left: 15%;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

.alto{
    width: 100px;
    height: 60px;
}

.altoB{
    width: 50px;
    height: 60px;
}

.car2{
    position: relative;
}

.caru21{
    margin-left: 30%;
}

.altoC2{
    width: 500px;
    height: 280px;
}

.caruc1::-webkit-scrollbar{
    background: white;
    height: 0;
}

.prev{
    position: absolute;
    z-index: 5;
    height: 384px;
    width: 20px;
}

.next{
    position: absolute;
    z-index: 5;
    right: 0;
    height: 384px;
    width: 20px;
}

.caruc2::-webkit-scrollbar{
    height: 0.8rem;
    border-radius: 100vh;
}

.caruc2::-webkit-scrollbar-thumb{
    background:rgba(180,83,9,0.3);
    border-radius: 100vh;
}

.caruc2::-webkit-scrollbar-thumb:hover{
    background:rgba(180,83,9,0.5);
    border-radius: 100vh;
}

.datos1{
    position: relative;
    z-index: 5;
    left: 600px;
    width: 40px;
    font-weight: 900;
    font-size: 1em;
}

.datos2{
    position: relative;
    z-index: 5;
    left: 1000px;
    width: 40px;
    font-weight: 900;
    font-size: 1em;
}

.datos3{
    position: relative;
    z-index: 5;
    left: 1400px;
    width: 40px;
    font-weight: 900;
    font-size: 1em;
}

.inCaru1{
    position: relative;
    z-index: 4;
    left: -1700px;
    top: 50px;
}

.inCartxt{
    font-size: 2em;
    font-weight: 700;
}

.incartx{
    position: relative;
    font-size: 0.7em;
    font-weight: 700;
    top: -10px;
}

.inCaru2{
    position: relative;
    z-index: 4;
    left: -1200px;
    top: 50px;
}

.inCaru3{
    position: relative;
    z-index: 4;
    left: -700px;
    top: 50px;
}